@page
@model FeastforyourBeast.Pages.findsitterModel
@{
    ViewData["Title"] = "Find a sitter for your monster";
}
<h1>@ViewData["Title"]</h1>

<p>This page is going to provide a way to input the planet the monster is residing at and what class of entity it is. Also when the sitter is needed and for how long. You can then search the database for the perfect match and find a sitter for your cosmic horror baby TODAY - or, you know, at the specified date.</p>
