@page
@model FeastforyourBeast.Pages.HowToModel
@{
    ViewData["Title"] = "How it works";
}
<h1>@ViewData["Title"]</h1>

<p>This page is going to explain how you can find the perfect sitter for your little baby eldritch horror <3</p>
