@page
@model FeastforyourBeast.Pages.HowToModel
@{
    ViewData["Title"] = "How it works";
}
<h1>@ViewData["Title"]</h1>

<p>If you need to be away from your little cosmic horror pet, then at least get a feast for your beast, delivered by one of our trusted beast sitters.</p>
<p>Here is how your beast stays happy while you're away, in three simple steps.</p>
<h2>Step One</h2>
<h3>Search and find a reliable beast sitter on your planet of residence.</h3>
<p>Need someone to care for your beast while you're away? Simply provide your planet of residence and the desired time period (in the Imperial Dating System, please!) in which you need beast care. We connect you with great, conscientous beast sitters from your area or willing and able to travel there.</p>
<p>All beast sitters have a personal profile page that gives you information about their beast care experience, qualifications, wrangling skills etc.</p>
<h2>Step Two</h2>
<h3>Arrange a meeting with your beast sitter before you leave.</h3>
<p>When you have chosen one of our certified beast carers for your little metal horror or fleshbeast, you should arrange a meeting before the actual appointment. This way you can make sure that your darling beast actually likes and agrees with your choice - and that the chosen carer is skilled enough not to get eaten.</p>
<p>The beast sitter should visit you at home to get to know your beast and its routine. You can use this opportunity to show them where you keep the food and the MK2 Laser Gun for the purpose of self-defense.</p>
<h2>Step Three</h2>
<h3>Do your thing in peace, and we do ours.</h3>
<p>Once you have confirmed your visit, your beast sitter and your beast will be automatically covered by our Feast for your Beast guarantee for the duration of your booking.</p>
<p>All beast sitters shall be reminded to adhere to our code of conduct, send you daily videos of your beasty and refrain from starting illegal beast fight and betting clubs.</p>
<h3>Individual services from our beast sitters</h3>
<p>You can customize the beast sitting services to suit your needs and those of your beast. They generally include:</p>
<ul>
    <li>A big feast for your beast</li>
    <li>Deep-cleanse of the containment area</li>
    <li>Beast entertainment: playing, live or dead sacrifices, warp rituals, the usual</li>
    <li>Daily videos of your beast as proof of continued existence and containment</li>
</ul>
<p>You are welcome to ask your beast sitter if they also provide additional services. Please note, however, that some may charge a little extra for these services:</p>
<ul>
    <li>(Permanently) closing any unwanted void portals</li>
    <li>Defending your home against invaders</li>
    <li>Destroying your enemies</li>
    <li>Filing your taxes</li>
    <li>Visiting your mother-in-law</li>
</ul>
<p>We hope to help you find the best beast sitters on your planet of residence. Looking after your beast at its familiar containment facility is a great alternative to banishing it into the nether and far less stressful for you and your beast than any way of temporary or permanent disposal.</p>