@page
@model IndexModel
@{
    ViewData["Title"] = "Beast sitter with Feast for your Beast";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find a trustworthy beast sitter in your vicinity or willing and able to travel there.</p>
    <input type="text" id="planetfield" placeholder="Your planet of residence">

    <input type="text" id="myDate" placeholder="Select Imperial Date" readonly onclick="showCalendar()">
    <div id="calendar" class="custom-calendar">
        <div class="calendar-header">
            <button onclick="prevYear()">&lt;</button>
            <select id="year" onchange="renderCalendar()">
                <!-- Gets set dynamically via JavaScript -->
                <option id="yearOption" value=""></option>
            </select>
            <button onclick="nextYear()">&gt;</button>
        </div>
        <div id="calendarGrid" class="calendar-grid">
            <!-- Calendar grid gets generated dynamically -->
        </div>
    </div>
</div>
