@page
@model IndexModel
@{
    ViewData["Title"] = "Beast sitter with Feast for your Beast";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find a trustworthy beast sitter in your vicinity or willing and able to travel there.</p>
    <input type="text" id="planetfield" placeholder="Your planet of residence">

    <div class="date-container">
        <input type="text" id="dateField" placeholder="Select Imperial Date" readonly onclick="showCalendar()">
        <div class="info-icon-container">
            <span class="info-icon">?</span>
            <div class="tooltip">
                The Imperial Dating System begins with 3 digits referencing the current thousandth of the year, followed by 3 digits representing the year in the millenium. The date ends with an M and the current millennium. Example: 409024.M3 is sometime at the 29th May 2024.
            </div>
        </div>
    </div>
    
    <div id="calendar" class="custom-calendar">
        <div class="calendar-header">
            <button onclick="prevYear()">&lt;</button>
            <select id="year" onchange="renderCalendar()">
                <!-- Gets set dynamically via JavaScript -->
                <option id="yearOption" value=""></option>
            </select>
            <button onclick="nextYear()">&gt;</button>
        </div>
        <div id="calendarGrid" class="calendar-grid">
            <!-- Calendar grid gets generated dynamically -->
        </div>
    </div>

    <button id="searchButton">Search</button>
</div>

@section Scripts {
    <script src="~/js/calendar.js" asp-append-version="true"></script> <!-- ~ is a shortcut to refer to the root directory. asp_append-version true busts caches. -->
}