@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome! Your use of the Feast for your Beast (the “Company”) website (the “Website”) is subject to this Privacy Policy. If you do not understand the Privacy Policy or have any questions about it, stop using the Website immediately – you are not equipped with the necessary wit to handle monsters. If you do not agree to this Privacy Policy, you must leave the Website.</p>

<p>This Privacy Policy does NOT apply to other websites to which we may otherwise link, to any other applications, whether or not we link to them, or to other companies, third party vendors who may provide services to us, or companies that may be listed as third party contacts on the Website, each of which may have its own privacy policy. This Privacy Policy also does not apply to information we may receive about you from other sources. In addition, this Privacy Policy does not apply to other websites or locations relating to payment for our services through the Website.</p>

<p>By using the Website (including any services offered on or through the Website) and/or by contacting us and providing personal information, you consent to the collection, transfer, storage, disclosure and use of information by us in accordance with this Privacy Policy. If we decide to change our Privacy Policy, we will post those changes here on this page.</p>

<p>The practices described in this Privacy Policy are subject to the applicable laws in the locations in which we operate. This means that we will only engage in the practices described below in a particular location if permitted by the laws of that location. We offer absolutely NO service in the Isstvan System.</p>
<br />

<h3>1. OUR APPROACH TO DATA PROTECTION</h3>

<p>The Company (“we”, “our” or “us”) is committed to protecting your privacy. This Privacy Policy is intended to inform you of our online privacy practices, the types of information that may be collected and stored, how the information is used, with whom the information may be shared and what choices are available to you regarding the collection and use and disclosure of the information, what security procedures are in place to protect against the loss, misuse or alteration of the information under our control, and who to contact if you have any questions or concerns.</p>

<p>The Company operates a platform that connects owners of warp beasts, cosmic horrors or other kinds of aberrations with people who <span class="strikethrough">have a deathwish</span> wish to provide beast care services (the “Services”) through our Website.</p>

<p>This Privacy Policy applies to our Services and the Website. The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, unless otherwise defined in this Privacy Policy.</p>
<br />

<h3>2. WHY WE COLLECT INFORMATION</h3>

<p>“I don't know, write something about how their information helps us provide a better service or crap like that, I don't care hahaha. No, don't write that, are you stupid? What the hell are you do-”</p>